.product-item-container {
    padding: 2em;
}

.product-item-detail-card {
    margin: 1em;
    padding: 1em;
}

.product-link {
    margin-bottom: 2em;
}

.nav-link a {
    display: inline-block;
    margin-right: 1em;
}

.nav-link {
    margin-bottom: 2em;
}

.product-item-detail-description {
    box-shadow: none;
}

@media screen and (min-width: 800px) {

    .mat-card-title {
        font-size: 2em;
    }

}