

nav {
    padding: 2em;
    background-color: #b2eff8;
}

.nav-link {
    display: inline-block;
    margin-right: 1em;
}
 
.home {
    font-size: 2em;
    color: white;
}

.nav-link-container {
    margin-top: 0.5em;
}


@media screen and (min-width: 800px) {
    
    .home a {
        font-size: 3em;
    }

}